<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tab4</ion-title>
  </ion-toolbar>
</ion-header>-->

<app-header-tab [title]="'Tab 4'"></app-header-tab>

<ion-content>
  <ion-item lines="none">
    <ion-label>Adivina un número del 0 al 100</ion-label>
    <ion-button (click) ="comprobar(numero.value)" fill="clear">COMPROBAR</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Número:</ion-label>
    <ion-input type="number" inputmode="numeric" #numero ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{ mensaje }}</ion-label>
  </ion-item>
</ion-content>
